*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    margin:0;
}

.header-contact{
    width: 100%;
    box-sizing: border-box;
    padding: 7px; 
}

.phone-icon{
    width:3.5%;
    height:4%;
    margin-left: 10px;
    color: orange;   
}

.email-icon{
    width:3.5%;
    height:4%;
    margin-left: 12px; 
}

.header-contact a{
    padding: 2px;
    margin-left: 5px;
    font-size: 13px;
}

.btn-1{
    background-color:orange;
    border: none;
    padding: 6px 26px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 30px;

}

.btn-1:hover{
    background-color: rgb(231, 162, 33);
   
}
/* header end */
.logo{
    width: 50%;
    height: 50%; 
}

h1{
    font-size: 2.5rem;
    text-align: center; 
}

a{
    color:black;
    font-size: 1.2rem;
    text-decoration: none;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

/* for mobile */
[class*="col-"] {
    width:100%;
}

.navbar{
    background-color:rgb(250, 245, 245);
    padding: 1% 7%;
    text-align: center;
}

.navbar h1{
    color:black;
    margin: 0;
    padding-top:10px;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase ;
}

.navbar-menu a{
    background-color:#009150;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 8px;
}

.navbar-menu a:hover{
    background-color:orange;
    
}
.navbar::after{
    content:'';
    display: table;
    clear: both;
}

/* navbar end */
/* .slider-image{
    width: 100%;
    height: 100%;
    background-color: palegreen;
} */

.background-image{
    width: 100%;
    height: 100%;
    border-top: 3px solid rgb(221, 209, 209);
}
